// General Style Variables
@import "config/variables";
@import "config/bootstrap_variables";

// External Frameworks
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Our CSS
@import "layout/*";
@import "components/*";
@import "pages/*";
@import "vendor/*";


html, body, h1, h2, h3, h4, h5, h6, p, ul, li {
  font-family: $my-font, sans-serif;
  font-style: normal;
  color: $gray-dark;
}

.paragraph {
  padding: 50px 0px 50px 0px;
  width: 100%;
}
.paragraph .container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
