/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

// colors
.text-white {
  h1, h2, h3, h4, p {
    color: white;
  }
  h1 {
    font-weight: 400;
  // line-height: 1.1;
    padding-bottom: 0vh;

  }
}

.green-text {
  color: $green;
}

.line-div {
  border-bottom: 1px solid #E4E4E4;
}
