.about {

  h2 {
    margin-top: 1em;
    padding-bottom: 5vh;

  }
  .banner-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #11435E;
    background-size: cover;
    position: relative;
    min-height: 70px;

  }
  .avatar-bordered {
    width: 11em;
    height: 11em;
    border-radius: 50%;
    box-shadow: 0 0px 2px rgb(167, 167, 167);
    border: #f9f9f9 6px solid;
  }

}




//-----------set in two column-------
.about-content {
  .container, .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 2em;
    padding-bottom: 6vh;

    p {
      color: $gray-text;
      font-size: 1.2em;
      line-height: 1.7em;
      letter-spacing: 0.01em;
    }
    h4 {
      color: $gray-dark;
      font-size: 1.2em;
      line-height: 1.7em;
      letter-spacing: 0.01em;
    }
    ul {
      line-height: 1.4em;
      letter-spacing: 0.01em;
      color: $gray-text;
      font-size: 0.9em;
      display: block;
      list-style-type: disc;
      -webkit-margin-before: 0.4em;
      // -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 40px;
    }
    // .skills-bar .wrap p {
    // font-size: 0.9em;
// }
    .green-text {
      color: $green;
    }
    .about-text {
      h4 {
        padding-top: 2em;
      }
    //   .border-box {
    //     background: none;
    //   }
  }
}
.me,

  .bars {
  margin-top: 1em;
  margin-bottom: 6em;
  .skills, .education {
      // padding-left: 1em;
      border: 1px solid #E4E4E4;
      border-radius: 4px;
      margin-bottom: 1em;
      padding-bottom: 1em;
      .skills-bar .wrap .title-skills p {
        font-size: 0.9em;
        }

      .padded {
          // padding: 1.6em;
        }
        .school-box {
        // padding: 1.6em;
        position: relative;

        p {
          line-height: 1.4em;
          letter-spacing: 0.01em;
          color: #818181;
          font-size: 0.9em;

        }
        .date {
          position: absolute;
          top: 1.3em;
          right: 1.6em;
        }
        .school-name {
          background: none;
          padding: 1em 1.6em 1.4em;

        }
        .padded-text {
          padding: 1em 1.6em 0.5em;
        }
      }
      h2 {
        padding-bottom: 2vh;
        padding-left: 0.6em;
        padding-top: 0.6em;
        margin: 0em;
      }
    }
    .education {
      h4 {
        line-height: 1.4em;
        padding-bottom: 0.2em;
      }
    }
  }
  .me {
    flex: 1 50%;
    padding-right: 2em;
      .intro {
        flex-direction: row;
        display: flex;
        justify-content: flex-start;
            padding-bottom: 2vh;
        // padding-bottom: 1.6em;
        .text {
          margin-top: 2em;
          // padding-bottom: 4vh;
          h1 {
            font-weight: 500;
            font-size: 3em;
            padding-bottom: 0vh;
            line-height: 5vh;
            color: $gray-dark;
            // margin-top: 5vh;
          }
          h2 {
            font-size: 2em;
            margin-top: 0em;
            padding-bottom: 0vh;
            color: $gray-text;
          }
          h3 {
                padding-bottom: 4vh;
          }
        }
        .avatar-bordered {
          margin-right: 2em;
        }

      }


  }
  .bars {
    flex: 1 30%;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    h4 {
     padding-bottom: 0.4em;

   }

   .language-skills {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }

}
//-------------SPECIALTIES--------------

@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }

  33.3333% {
    width: 40px;
    height: 0;
  }

}
@-moz-keyframes check {
  0% {
    height: 0;
    width: 0;
  }

  33.3333% {
    width: 40px;
    height: 0;
  }
}
@-ms-keyframes check {
  0% {
    height: 0;
    width: 0;
  }

  33.3333% {
    width: 40px;
    height: 0;
  }
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
  }

  33.3333% {
    width: 40px;
    height: 0;
  }
}


   .checkmark-row {

      flex-direction: row;
      display: flex;
      justify-content: space-between;
      line-height: 1.4em;
      letter-spacing: 0.01em;
      color: #818181;
      font-size: 0.9em;
      padding-right: 0em;
      i {
        color: $green;
      }
      p {
        font-size: 0.9em;
      }
    }

.about-content {
  .container.content{

    .checkmark-box {
      padding-left: 0.6em;
      align-items: flex-start;
      display: flex;
        letter-spacing: 0.01em;
        font-size: 0.9em;
        color: $gray-text;



      .checkmark {
        display: block;
        height: 3em;
        position: relative;
        width: 1em;
        margin-right: 1em;
      }
    }


    .checkmark:after {
      -webkit-animation: check .8s;
      -moz-animation: check .8s ;
      -o-animation: check .8s;
      animation: check .8s;
    }

    .checkmark:after {
      -moz-transform: scaleX(-1) rotate(135deg);
      -ms-transform: scaleX(-1) rotate(135deg);
      -webkit-transform: scaleX(-1) rotate(135deg);
      transform: scaleX(-1) rotate(135deg);
    // -moz-transform-origin: left top;
    // -ms-transform-origin: left top;
    // -webkit-transform-origin: left top;
    // transform-origin: left top;
      border-right: 0.35em solid #0ac19c;
      border-top: 0.35em solid #0ac19c;
      content: '';
      display: block;
      height: 1.4em;
      position: absolute;
      width: 1em;
    }
  }
}


//-------------END SPECIALTIES-------------

.border-box {
  background-color: #F7F7F7;
  border: 1px solid #E4E4E4;
  border-radius: 4px;
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-top: 0.4em;
  position: relative;
    // padding-left: 2em;
    // padding-top: 2em;
    .box-top, .box-content {
      padding-left: 2em;
      padding-top: 1em;
      padding-bottom: 0.4em;
      padding-right: 2em;
      .box {
        padding-bottom: 1em;
        p {
          line-height: 1.4em;
          letter-spacing: 0.01em;
          color: #818181;
          font-size: 0.9em;
        }
      }
      .date {
        position: absolute;
        top: 3.4em;
        right: 1.4em;
      }

    }
  }





  // @media (min-width: 992px) {
  //   .container {
  //     width: 760px;
  //   }
  // }
}






//-----------skills bar---------------


@import "compass/css3";

@import "compass/reset";



.skills-bar {
  justify-content: center;
  display: flex;
  padding-bottom: 1em;
  padding-top: 1em;




  @mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
  }
  *{ box-sizing:border-box;}



  body {
    color: #333;
    -webkit-font-smoothing: antialiased;
    padding: 2%;
  }
  .wrap {
    width: 90%;
    margin: 0;
    .block-padded-bottom {
      margin-bottom: 0.6em;
      p {
       // font-size: 0.4em;
       font-size: 0.8em;
    padding-bottom: 0.3em;
      }
      .holder {
        // border: 1px solid $gray-light;
        background-color: $gray-lighter;
      }
      .border-holder {
        border: 1px solid #EEAC02;
         margin-bottom: 0em;
          border-radius: 20px;
      }
    }

    .purple-border-holder {
      .border-holder {
      border: 1px solid $green;
      border-radius: 20px;
      // background-color: #CECECE;
        .bar {
          background: $green;
        }
      }

    }
    .blue-border-holder {
      border: 1px solid #1EB5E2;
      border-radius: 20px;
      background-color: $gray-lighter;
      .bar {
        margin-bottom: 0em;
        border-radius: 20px;
        background: #1EB5E2;
      }
    }
  }
  h1 {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    padding: .5em 0;
    margin-bottom: 1em;
    // border-bottom: 1px solid #dadada;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  ul {
    li {
      line-height: 2;
      font-weight: bold;
      font-size: .85em;text-transform: uppercase;
      clear: both;
      // border-bottom: 1px solid $border;
      &:before {
        content: "\2023";
        padding: 0 1em 0 0;
      }
    }
  }
  .bar {
    background: #EEAC02;
    width: 0;
    border-radius: 20px;
    // margin-bottom: 0.3em;
    color: #fff;
    position: relative;
    transition:width 2s, background .2s;
    -webkit-transform: translate3d(0,0,0);
    clear: both;
    // &:nth-of-type(2n) {
    //   // background:lighten($red , 10% );
    // }
    .label {
      font-size: .8em;
      padding: 0.4em 0em 0.4em 1.2em;
      // background: $gray;
      width: 10em;
      display: table;
      position: relative;
      z-index: 2;
      font-weight: 400;
      letter-spacing: 0.04em;
      text-align: left;
      border-radius: 0em;
      line-height: 1.5em;

      &.light {
        // background:lighten($red , 10% );
      }
    }
  }
  .count {
    position: absolute;
    right: .25em;
    top: .75em;
    padding: .15em;
    font-size: .75em;
    font-weight: 400;
  }
}


// //--------------super charts mycharts------------------

// .mycharts-show-skills {

//   body {
//     height: 100%;
//   }

//   body {
//     background: #101521;
//   }

//   #myChart {
//     cursor: crosshair;
//   }

//   .skills-chart {
//     text-align: center;
//     padding: 30px;
//     margin: 0;
//     box-sizing: border-box;
//   }

//   .skills-chart-legend {
//     margin: 0 auto 15px;
//   }

//   .skills-chart-canvas {
//     max-width: 200px;
//     margin: auto;
//   }

//   .skills-chart-legend {
//     display: inline-block;
//     list-style: none;
//     margin: 0 auto;
//     padding: 0 20px;
//     line-height: 1;
//     font-size: 14px;
//     font-weight: 600;
//     text-transform: uppercase;
//     letter-spacing: .05em;
//   }

//   .skills-chart-legend:before {
//     content: "";
//     display: block;
//     float: left;
//     margin: 3px 0 0 -15px;
//     height: 9px;
//     width: 9px;
//   }

//   .skills-chart-legend--interest {
//     color: #2bb0d4;
//   }

//   .skills-chart-legend--interest:before {
//     background: #2bb0d4;
//   }

//   .skills-chart-legend--skill {
//     color: #61c191;
//   }

//   .skills-chart-legend--skill:before {
//     background: #61c191;
//   }


// }




