.main-container {

  .banner {
    display: flex;
    align-items: center;

      // background: linear-gradient(0deg, lightsalmon 10%, salmon 90%)
      background: linear-gradient(135deg,rgba(35,0,90, 0) 0, #1147A9 100%),image-url('anna_banner.jpg');
    // background-image: image-url('anna_banner.jpg');
    background-size: cover;
    position: relative;


    // background: linear-gradient(316deg, rgba(27, 212, 164, 0.5), rgba(27, 47, 212, 0.5), rgba(212, 27, 205, 0.5)),image-url('anna_banner.jpg');
    // background-size: 100% 100%;

    // -webkit-animation: AnimationName 38s ease infinite;
    // -moz-animation: AnimationName 38s ease infinite;
    // animation: AnimationName 38s ease infinite;

    // @-webkit-keyframes AnimationName {
    //     0%{background-position:10% 0%}
    //     50%{background-position:91% 100%}
    //     100%{background-position:10% 0%}
    // }
    // @-moz-keyframes AnimationName {
    //     0%{background-position:10% 0%}
    //     50%{background-position:91% 100%}
    //     100%{background-position:10% 0%}
    // }
    // @keyframes AnimationName {
    //     0%{background-position:10% 0%}
    //     50%{background-position:91% 100%}
    //     100%{background-position:10% 0%}
    // }

    h1 {
      font-size: 50px;
    }
    h3 {
      font-size: 20px;
    }
    p {
      font-size: 25px;
      font-weight: 100;
      margin: 0;
    }
    &-gradient {
      height: 100%;

      width: 100vw;
      display: flex;
      justify-content: center;
    }
    &-content {
      padding: 2em;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      // display: flex;
      // justify-content: flex-end;
      &-button {
        // color: white;
        // font-size: 18px;
        text-decoration: none;
        // letter-spacing: 3px;
        font-weight: 600;
        font-style: normal;
        transition: 0.1s background-color linear, 0.1s color linear;
        // margin: 1em 0 .8em;
        text-rendering: optimizeLegibility;
        background-color: none;
        // border-radius: 86px;
        // line-height: 74px;
        // padding-right: 34px;
        // padding-left: 34px;
        // padding-top: 17px;
        // padding-bottom: 15px;
        // border: 2px solid white;
        &:hover {
          color: white;
          // border-color: $red;
          // background-color: $red;
          text-decoration: none;
          text-shadow: none;
        }
      }
    }
    // blink text
    .welcome {
      // margin: auto;
      width: 28em;
      h1, h2, p {
        color: white;
        font-size: 40px;
        white-space: nowrap;
        overflow: hidden;
        // width: 12em;

// margin-left: 0;
// margin-right: 0;
animation: type 4s steps(60, end);
        // -webkit-animation: type 4s steps(60, end) ;
      }

      p:nth-child(1) {
        animation: type1 6s steps(60, end);
        font-weight: 800;
      }
      p:nth-child(2) {
        animation: type2 6s steps(60, end);
      }
      p:nth-child(3) {
        animation: type3 5s steps(60, end);
      }

      span {
        animation: blink 1s infinite;
      }

      @keyframes type{
        0%{width: 0;}
      }
      @keyframes type1{
        0%{width: 0%;}
        5%{ width: 60px; }
        8%{ width: 60px; }
        30%{ width: 100%; }
        100%{ width: 100%; }
      }
      @keyframes type2{
        0%{width: 0%; }
        30%{width: 0%; }
        50%{ width: 100%; }
        100%{ width: 100%; }
      }
      @keyframes type3{
        0%{width: 0%;}
        50%{width: 0%;}
        90%{ width: 100%; }
        100%{ width: 100%; }
      }
      @keyframes blink{
        to{opacity: .0;}
      }
      ::selection{
        background: black;
      }

    }
  }
  @media (min-width: 1192px) {
    .welcome {
      margin-left: 54vw;
    }
  }


  .icon-container {
    display: flex;
    justify-content: center;
    .icon-down-banner {
      width: 2em;
      margin-top: -5em;

    }
    .pulse {
      animation-name: pulse;
      animation-duration: 9s;
      animation-iteration-count: infinite;
      -webkit-animation-name: pulse;
      -webkit-animation-duration: 9s;
    }

    @keyframes .pulse {
      100% {
        background-color: #001F3F;
      }
      100% {
        background-color: #FF4136;
      }
    }
  }

  .text-title {
    h1, h2, h3, p, img {
      padding-bottom: 10vh;
    }
    h1 {
      font-size: 4em;
      color: $dark-blue;
    }
    h3 {
      font-size: 1.3em;
      color: $green;
    }
    .text-landing {
      width: 76%;
      margin: auto;

      h2 {
        padding-bottom: 4vh;

      }
      p {
        padding-bottom: 14vh;
      }
    }
  }

  .main-circle {
    display: flex;
    // flex-direction: row;
    justify-content: center;
    // border-radius: 86px;
    // line-height: 74px;
    // border: 2px dashed $blue;
    align-items: center;
    margin: auto;
    width: 72%;

    // width: 60%;
    img {
      width: 100%;
    }
    // padding-left: 3em;
    // padding-left: 3em;
    // .circle-container {
    //   flex: 3;

    // }
    // .circle {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;

    //   // width: 20vw;
    //   // height: 15vw;
    //   border: 2px solid $blue;
    //   margin: 0.6em;
    //   border-radius: 50%;
    //   width: 12em;
    //   height: 12em;

    // -moz-border-radius:50%;
    // -webkit-border-radius:50%;
    // -khtml-border-radius: 50%;
    // }
    // .arrow {
    //   flex: 1;
    // }



    // .circle-left{
    //   padding-left: 3em;
    // }
    // .circle-right{
    //   padding-right: 3em;
    // }
  }
}


.padded-bottom {
  padding-bottom: 3em;
}



.home-services {
  .container.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 0vh;
    padding-bottom: 6vh;
    justify-content: center;
  }
  .text, .icon {
    margin-top: 0em;
    margin-bottom: 0em;
  }
  .text {
    flex: 1 50%;
    // padding-left: 15px;
    padding-right: 20px;
    padding-left: 2em;
    a {
      font-size: 1.2em;
    }
  }
  .not-padded {
    padding-left: 0em;
  }
  .icon {
    flex: 1 50%;
    display: flex;
    justify-content: left;
    padding-bottom: 2em;
    max-width: 28em;
    img {
      width: 18vh;
      max-height: 18vh;
      margin: 0vh;
    }
  }
  h2 {
    padding-bottom: 1vh;
    margin-top: 14px;
  }
  p {
    padding-bottom: 6vh;
  }

  .arrow-lets {
    a {
      position: absolute;
      width: 325px;
      height: 25px;
      z-index: 2;
    }
    span {
      position: absolute;
      z-index: 1;
      margin-left: 200px;
      img {
        max-width: 55%;
      }
    }
  }

  .banner-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: image-url('anna_banner.jpg');
    background-size: cover;
    position: relative;
  }
  @media (min-width: 680px) {
    .container {
      width: 68vw;
    }
  }
}
    //  animation: pulse 10s infinite;
    // @keyframes pulse {
    //   00% {
    //     transform: scale(7.3);
    //     background: transparent linear-gradient(205deg, rgba(0, 14, 168, 0.6) 0%, rgba(135, 81, 141, 0.4) 50%) repeat scroll 0% 0%;
    //   }
    //   100% {
    //     transform: scale(.3);
    //     background-color: #FF4136;
    //   }
    // }




