.projects {
  background-color: $gray-light-bg;
  .container.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 15vh;
    padding-bottom: 6vh;
  }
  .text, .icon {
    margin-top: 1em;
    margin-bottom: 6em;
  }
  .text {
    flex: 1 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .icon {
    flex: 1 50%;
    display: flex;
    justify-content: center;
    img {
      width: 32vh;
      max-height: 32vh;
      margin: 2vh;
    }
  }
  .arrow-lets img {
    max-width: 30%;
  }
  .banner-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: image-url('images/colors.jpeg');
    background-size: cover;
    position: relative;
    min-height: 36em;
    background: linear-gradient(135deg,rgba(55,20,173,.9) 0,rgba(204,0,0,.9) 100%);
    // background: linear-gradient(316deg, #1bd4a4, #1b2fd4, #d41bcd);
    background-size: 200%;

    -webkit-animation: AnimationName 10s cubic-bezier(0.25, 0.1, 0.72, 0.86) infinite;
    -moz-animation: AnimationName 10s cubic-bezier(0.25, 0.1, 0.72, 0.86) infinite;
    animation: AnimationName 10s cubic-bezier(0.25, 0.1, 0.72, 0.86) infinite;

    @-webkit-keyframes AnimationName {
      0%{background-position:10% 0%}
      50%{background-position:91% 100%}
      100%{background-position:10% 0%}
    }
    @-moz-keyframes AnimationName {
      0%{background-position:10% 0%}
      50%{background-position:91% 100%}
      100%{background-position:10% 0%}
    }
    @keyframes AnimationName {
      0%{background-position:10% 0%}
      50%{background-position:91% 100%}
      100%{background-position:10% 0%}
    }


  }
  @media (min-width: 992px) {
    .container {
      width: 760px;
    }
  }



//------------TEST--------------

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#portfolio {
  margin: 1rem 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  -webkit-column-width: 33.33333333333333%;
  -moz-column-width: 33.33333333333333%;
  column-width: 33.33333333333333%;
}
.tile {
  display: none;

}


.scale-anm {
  margin: 0 0 1.125rem;
  width: 100%;
  border: 1px solid #ccc;
}


.tile img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}

.btn {
  font-family: Lato;
  font-size: 1rem;
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  padding: .5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid #ccc;
  vertical-align: middle;
  -webkit-appearance: none;
  color: #555;
  background-color: rgba(0, 0, 0, 0);
}


.gallery {

    // width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // flex-direction: column;

    .btn-filter {
      // display: flex;
    // flex-direction: column;

  }
}








/*********** CARDS PROJECTS ************/

.cards-project-container {
  width: 80%;
  margin: auto;
}
.cards-projects {
  .grid-sizer, .grid-item {
    /* cards sur 5 colonnes */
    width: 25%;
  }
  img {
    width: 100%;
    height: auto;
  }
  .card-project {
    .padd {
      -webkit-filter: brightness(100%);
      margin: 5px;
      background: #fff;
      border-radius: 6px;
      -webkit-cursor: zoom-in;
      cursor: zoom-in;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
      -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);
      .text-padd {
        padding: 5px 12px;
        h3 {
          font-size: 0.9em;
          line-height: 1.7em;
          letter-spacing: 0.01em;
          color: $gray-dark;
          padding-bottom: 0vh;
        }
        h4 {
          color: $gray-text;
          // padding: 5px 12px;
          font-size: 0.9em;
          line-height: 1.7em;
          letter-spacing: 0.01em;
        }
      }
    }
    img {
      -webkit-border-radius: 6px 6px 0 0;
      -moz-border-radius: 6px 6px 0 0;
      border-radius: 6px 6px 0 0;
    }
  }
  // .padd:hover {
  //   transition: opacity .04s linear;
  // }

  .padd:hover {
    -webkit-filter: brightness(90%);
    filter: brightness(90%);
    -webkit-transition: all .04s ease;
    -moz-transition: all .04s ease;
    -o-transition: all .04s ease;
    -ms-transition: all .04s ease;
    transition: all .04s ease;
  }


  .img-container:hover {
    // opacity: .1;
  }
}


.btn-link {
  color: $gray-text;
  margin: 1em;
  text-decoration: none;
  // color: #818181;
  font-size: 0.8em;
  line-height: 1.7em;
  letter-spacing: 0.01em;
  font-weight: normal;
  outline: none;
  border: none;
}

.btn-link:hover {
  text-decoration: none;
  outline: none;
  border: none;
  // color: $gray-text;


}

.btn-link:active, .btn-link:focus, .btn-link:visited, .btn-link:visited:active {
  text-decoration: none;
  outline: none;
  border: none;
  color: $gray-dark;
}


/********* Modal Projects cards *********/


.modal {
  &-container {
    width: 1000px;
    margin: auto;
  }
  &-dialog {
    height: 100%;
    width: 100%;
    margin: 0;
  }
  &-content {
    min-height: 100%;
    background-clip: inherit;
  }
  &-banner {
    text-align: center;
    padding: 0vh;
    h2 {
      padding-top: 10vh;
    }
  }
  &-body {
    position: relative;
    padding: 0px;
    p {
      line-height: 1.4em;
      letter-spacing: 0.01em;
      color: #818181;
      font-size: 0.9em;
    }
    h2 {
      padding-bottom: 1vh;
    }
    h4 {
      padding-bottom: 4vh;
    }
    .paragraph {
      padding: 2em 6em 2em 6em;
    }
  }
  &-description {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    padding: 2em 0;
    margin: 2em 0;
    h3, h4 {
      padding-top: 1.4em;
      padding-bottom: 0.6em;
      letter-spacing: 0.01em;
    }
    p {
      line-height: 1.4em;
      letter-spacing: 0.01em;
      color: #818181;
      font-size: 0.9em;
    }
    .categories-tags {
      color: $green;
      text-transform: uppercase;
    }
    .left-col, .middle-col {
      padding-right: 2em;
    }
    .middle-col, .right-col {
      padding-left: 2em;
    }
  }
  button {
    position: fixed;
    z-index: 2;
    height: 42px;
    width: 42px;
    font-weight: 100;
    padding-bottom: 3px;
    right: 3vh;
    top: 3vh;

    border-radius: 50px;
    // -webkit-box-shadow: 0px 1px 2px 1px rgba(102, 102, 102, 0.75);
    // box-shadow: 0px 1px 2px 1px rgba(102, 102, 102, 0.75);
    color: white;
    span {
      width: 12vh;
    }
  }
  button.close {
    background: #c2c2c2;
            opacity: 1;
  }
  button:hover {
    background: $green;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white;
    border: none;
      text-decoration: none;
  outline: none;
  border: none;
  }

}



  // @media (min-width: 992px) {
  //   .gallery {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     flex-direction: column;
  //     // flex-wrap: nowrap
  //  //    width: 92%;;
  //   }
  // }


//------------END TEST----------------
//-------------------------------------

#Container .mix{
  display: none;
}

}
