.services {
  .container.content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-top: 15vh;
    padding-bottom: 6vh;
  }
  .text, .icon {
    margin-top: 1em;
    margin-bottom: 6em;
  }
  .text {
    flex: 1 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .icon {
    flex: 1 50%;
    display: flex;
    justify-content: center;
    img {
      width: 32vh;
      max-height: 32vh;
      margin: 2vh;
    }
  }
  .arrow-lets img {
    max-width: 30%;
  }
  .banner-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-image: image-url('anna_banner.jpg');
    background-size: cover;
    position: relative;

    // background: linear-gradient(135deg,rgba(35,0,90,1) 0,$green 100%),url('anna_banner.jpg');
    min-height: 36em;

    background: linear-gradient(316deg, #1bd4a4, #1b2fd4, #d41bcd);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 38s ease infinite;
    -moz-animation: AnimationName 38s ease infinite;
    animation: AnimationName 38s ease infinite;

    @-webkit-keyframes AnimationName {
        0%{background-position:10% 0%}
        50%{background-position:91% 100%}
        100%{background-position:10% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:10% 0%}
        50%{background-position:91% 100%}
        100%{background-position:10% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:10% 0%}
        50%{background-position:91% 100%}
        100%{background-position:10% 0%}
    }


  }
  @media (min-width: 992px) {
    .container {
      width: 760px;
    }
  }
}

// .services {

//   .arrow-lets {
//     width: 13vh;
//     animation-name: pulse;
//     animation-duration: 9s;
//     animation-iteration-count: infinite;
//     -webkit-animation-name: pulse;
//     -webkit-animation-duration: 9s;
//   }

//   @keyframes .arrow-lets {
//     100% {
//       background-color: #001F3F;
//     }
//     100% {
//       background-color: #FF4136;
//     }
//   }
//   .arrow-link {
//     width: 5em;
//     fill: $green;
//   }

//   .icon {
//     img {
//       width: 60%;
//     }
//   }
// }
