<div id="footer">
  <div class="paragraph text-center">
    <div class="container">
      <div class="row">
        <div class="back-to-top-link">
          <% link_to "#top" do %>
            <div class="circle-link text-center">
              <span class="arrow-to-top"></span>
              <span><p>top</p></span>
            </div>
          <% end %>
        </div>
        <div class="col-xs-12">
          <%= partial "form" %>
        </div>
        <div class="link-list col-xs-12">
          <ul class="list-inline">
<!--             <li><a href=""><i class="fa fa-youtube"></i></a></li>
 -->
            <!-- <li><a href=""><i class="fa fa-instagram"></i></a></li> -->
            <li><a href="https://www.linkedin.com/in/anna-mimouni-15001a62"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://twitter.com/AnnaMimouni"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
        <div class="col-xs-12 copyright">
          © Anna Mimouni - All rights reserved
        </div>
      </div>
    </div>
  </div>
</div>
