<div class="navbar-portfolio">
  <!-- Logo -->
  <% link_to "/", class: "navbar-portfolio-brand" do %>
    <%= image_tag "anna.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-portfolio-right hidden-xs hidden-sm">

    <!-- Text link -->
    <a href="http://www.annamimouni.com" class="navbar-portfolio-item navbar-portfolio-link">SERVICES</a>

    <!-- Text link -->
    <a href="" class="navbar-portfolio-item navbar-portfolio-link">PROJECTS</a>
    <a href="" class="navbar-portfolio-item navbar-portfolio-link">HOW I WORK</a>
    <a href="" class="navbar-portfolio-item navbar-portfolio-link">ABOUT</a>
    <a href="" class="navbar-portfolio-item navbar-portfolio-link">CONTACT</a>



    <!-- Profile picture and dropdown -->
<!--     <div class="navbar-portfolio-item">
      <div class="dropdown">
        <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-portfolio-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-portfolio-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div> -->

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-portfolio-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-portfolio-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>
