<div class="content main-container">
  <div class="banner-centered text-white">
<!--     <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="page-inner paragraph text-center">

            <h1>About me.</h1>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>


<div class="page-inner about-content">
  <div class="container content">
    <div class="me">
      <div class="intro">
          <img src="images/user.png" alt="user" class="avatar-bordered"/>
          <div class="text">
            <h2>Creative Designer</h2>
            <h3><i class="fa fa-map-marker" aria-hidden="true"></i>  Paris, France</h3>
          </div>
      </div>
      <div class="about-text">
      <!--   <h2>About me</h2> -->
        <p>
          <p>     With over 9 years of experience within the design industry, specialized in art direction for luxury brands and UI/UX design, product management, and rapid prototyping for rich Internet applications and mobile devices. I am also constantly watching for the latest trends in new technologies. I practice user centered design principles basing design decisions on user needs and business goals.
            And yes I am always learning new stuff.
            Above all I am thrilled to work on projects that have a real social impact like in politics, health, transport, infrastructurs, AI...
          </p>
          <!--  <div class="border-box"> -->
       <!--    <h4 class="specalties ">Specialties</h4>
          <div id="chart"></div>
          <p></p> -->
          <!--    </div> -->

          <!-- <h4>Specialties:</h4>
          <ul>
            <li>Art Direction</li>
            <li>Product Design</li>
            <li>Design Lead</li>
            <li>UX and UI design</li>
            <li>Visual Identity</li>
            <li>Strategy</li>
            <li>Team Management</li>
          </ul> -->
        </p>
      </div>

      <!--     ********************* EXPERIENCE ********************** -->
      <!--     ******************************************************* -->

      <div class="experience">
        <h2>Experience</h2>

        <div class="border-box">
          <div class="box-top">
            <h4><strong>Creative Director and UX/UI Designer</strong>, Paris</h4>
            <p>Freelance.</p>
            <div class="date">
              <p><i class="text-left fa fa-calendar"></i> 2015 - 2016</p>
            </div>
          </div>
          <div class="line-div"></div>
          <div class="box-content">
            <div class="box">
              In charge of
            </div>
            <div class="box">
              <h4 class="green-text">Major Projects</h4>
              <p><ul>
                <li>Mobile experience: iPhone, iPad, and Android</li>
                <li>Database Architecture</li>
                <li>Customizable pages, e-commerce</li>
                <li>Strategy</li>
                <li>Digital Design</li>
                <li>User Experience Design</li>
                <li>User Interface Design</li>
              </ul></p>
            </div>
            <div class="box">
              <h4 class="green-text">Clients</h4>
              <ul>
                <li>Lomi Machine</li>
                <li>Café Lomi</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="border-box">
          <div class="box-top">
            <h4><strong>Head of Art Direction</strong>, Paris</h4>
            <p>Saltimbanque Communication Agency.</p>
            <div class="date">
              <p><i class="text-left fa fa-calendar"></i> 2014 - 2015</p>
            </div>
          </div>
          <div class="line-div"></div>
          <div class="box-content">
            <div class="box">
              <h4 class="green-text">Design Leadership</h4>
              <p>As the principal designer I have the overall responsibility for all production work completed by the design team and for providing the creative strategic direction for the company.</p>
            </div>
            <div class="box">
              <h4 class="green-text">Team Management</h4>
              <p>Ensure designers understand the company’s goals; understand what they are accountable for; and promote personal growth and professional development opportunities.</p>
            </div>
            <div class="box">
              <h4 class="green-text">Major Projects</h4>
              <p><ul>
                <li>Art Direction</li>
                <li>Visual Identity</li>
                <li>Team Management</li>
                <li>Strategy</li>
                <li>Print and Digital Design</li>
                <li>Advertisement</li>
                <li>Illustration</li>
              </ul></p>
            </div>
            <div class="box">
              <h4 class="green-text">Clients</h4>
              <ul>
                <li>Monte-Carlo Société des Bains de Mer</li>
                <li>Thermes-Marins Monte-Carlo</li>
                <li>Hôtel Hermitage</li>
                <li>Hôtel de Paris</li>
                <li>Le Casino Monte-Carlo</li>
                <li>Monte-Carlo Beach</li>
                <li>Monte-Carlo Bay</li>
                <li>Café de Paris</li>
                <li>Hermès</li>
                <li>Aéroport de Paris</li>
                <li>Roederer</li>
                <li>Bellavista</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="border-box">
          <div class="box-top">
            <h4><strong>Co-founder and Lead Designer</strong>, Paris</h4>
            <p>L-Z</p>
            <div class="date">
              <p><i class="text-left fa fa-calendar"></i> 2011 - 2013</p>
            </div>
          </div>
          <div class="line-div"></div>
          <div class="box-content">
            <div class="box">
              <h4 class="green-text">Design Leadership</h4>
              <p>As the principal designer I have the overall responsibility for all production work completed by the design team and for providing the creative strategic direction for the company.</p>
            </div>
            <div class="box">
              <h4 class="green-text">Team Management</h4>
              <p>Ensure designers understand the company’s goals; understand what they are accountable for; and promote personal growth and professional development opportunities.</p>
            </div>
            <div class="box">
              <h4 class="green-text">Major Projects</h4>
              <p><ul>
                <li>Art Direction</li>
                <li>Visual Identity</li>
                <li>Team Management</li>
                <li>Strategy</li>
                <li>Print and Digital Design</li>
                <li>Advertisement</li>
                <li>Illustration</li>
              </ul></p>
            </div>
            <div class="box">
              <h4 class="green-text">Clients</h4>
              <ul>
                <li>Monte-Carlo Société des Bains de Mer</li>
                <li>Thermes-Marins Monte-Carlo</li>
                <li>Hôtel Hermitage</li>
                <li>Hôtel de Paris</li>
                <li>Le Casino Monte-Carlo</li>
                <li>Monte-Carlo Beach</li>
                <li>Monte-Carlo Bay</li>
                <li>Café de Paris</li>
                <li>Hermès</li>
                <li>Aéroport de Paris</li>
                <li>Roederer</li>
                <li>Bellavista</li>
              </ul>
            </div>
          </div>
        </div>


        <div class="border-box">
          <div class="box-top">
            <h4><strong>Head of Art Direction</strong>, Paris</h4>
            <p>Saltimbanque Communication Agency.</p>
            <div class="date">
              <p><i class="text-left fa fa-calendar"></i> 2014 - 2015</p>
            </div>
          </div>
          <div class="line-div"></div>
          <div class="box-content">
            <div class="box">
              <h4 class="green-text">Major Projects</h4>
              <p><ul>
                <li>Art Direction</li>
                <li>Visual Identity</li>
                <li>Team Management</li>
                <li>Strategy</li>
                <li>Print and Digital Design</li>
                <li>Advertisement</li>
                <li>Illustration</li>
              </ul></p>
            </div>
            <div class="box">
              <h4 class="green-text">Clients</h4>
              <ul>
                <li>Monte-Carlo Société des Bains de Mer</li>
                <li>Thermes-Marins Monte-Carlo</li>
                <li>Hôtel Hermitage</li>
                <li>Hôtel de Paris</li>
                <li>Le Casino Monte-Carlo</li>
                <li>Monte-Carlo Beach</li>
                <li>Monte-Carlo Bay</li>
                <li>Café de Paris</li>
                <li>Hermès</li>
                <li>Aéroport de Paris</li>
                <li>Roederer</li>
                <li>Bellavista</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="border-box">
          <div class="box-top">
            <h4><strong>Head of Art Direction</strong>, Paris</h4>
            <p>Saltimbanque Communication Agency.</p>
            <div class="date">
              <p><i class="text-left fa fa-calendar"></i> 2014 - 2015</p>
            </div>
          </div>
          <div class="line-div"></div>
          <div class="box-content">
            <div class="box">
              <h4 class="green-text">Major Projects</h4>
              <p><ul>
                <li>Art Direction</li>
                <li>Visual Identity</li>
                <li>Team Management</li>
                <li>Strategy</li>
                <li>Print and Digital Design</li>
                <li>Advertisement</li>
                <li>Illustration</li>
              </ul></p>
            </div>
            <div class="box">
              <h4 class="green-text">Clients</h4>
              <ul>
                <li>Monte-Carlo Société des Bains de Mer</li>
                <li>Thermes-Marins Monte-Carlo</li>
                <li>Hôtel Hermitage</li>
                <li>Hôtel de Paris</li>
                <li>Le Casino Monte-Carlo</li>
                <li>Monte-Carlo Beach</li>
                <li>Monte-Carlo Bay</li>
                <li>Café de Paris</li>
                <li>Hermès</li>
                <li>Aéroport de Paris</li>
                <li>Roederer</li>
                <li>Bellavista</li>
              </ul>
            </div>
          </div>
        </div>

        <!--     ******************************************************* -->
        <!--     ******************************************************* -->


      </div>

    </div>
    <div class="bars">
      <div class="skills ">
        <h2 class="line-div">Skills</h2>
        <div class="skills-bar line-div">
          <div class="wrap">
            <h4>Specialties</h4>
            <div class="checkmark-row">
              <div class="checkmark-box">
                <div class="checkmark"><p class="checkmark-paragraph"><i class="fa fa-check" aria-hidden="true"></i> Problem Solving</p></div>
                <div class="checkmark"><p><i class="fa fa-check" aria-hidden="true"></i> Strategy</p></div>
                <div class="checkmark"><p><i class="fa fa-check" aria-hidden="true"></i> Product Management</p></div>
                <div class="checkmark"><p><i class="fa fa-check" aria-hidden="true"></i> Team Leading</p></div>
              </div>
              <div class="checkmark-box">
                <div class="checkmark"><p><i class="fa fa-check" aria-hidden="true"></i> Art DIrection</p></div>
                <div class="checkmark"><p><i class="fa fa-check" aria-hidden="true"></i> UX Design</p></div>
                <div class="checkmark"><p><i class="fa fa-check" aria-hidden="true"></i> UI Design</p></div>
                <div class="checkmark"><p><i class="fa fa-check" aria-hidden="true"></i> Product Design</p></div>
              </div>
            </div>
          </div>
        </div>
        <div class="skills-bar line-div">
          <div class="wrap">
            <h4>Software</h4>
            <div class="title-skills">
              <div class="block-padded-bottom">
                <p>Photoshop</p>
                <div class="holder border-holder">
                  <div class="bar cf" data-percent="100%"><span class="label"></span></div>
                </div>
              </div>
              <div class="block-padded-bottom">
                <p>Illustrator</p>
                <div class="holder border-holder">
                  <div class="bar cf" data-percent="94%"><span class="label light"></span></div>
                </div>
              </div>
              <div class="block-padded-bottom">
                <p>InDesign</p>
                <div class="holder border-holder">
                  <div class="bar cf" data-percent="100%"><span class="label"></span></div>
                </div>
              </div>
              <div class="block-padded-bottom">
                <p>Sketch</p>
                <div class="holder border-holder">
                  <div class="bar cf" data-percent="76%"><span class="label"></span></div>
                </div>
              </div>
              <div class="block-padded-bottom">
                <p>Final Cut Pro 7</p>
                <div class="holder border-holder">
                  <div class="bar cf" data-percent="80%"><span class="label light"></span></div>
                </div>
              </div>
              <div class="block-padded-bottom">
                <p>Logic 9</p>
                <div class="holder border-holder">
                  <div class="bar cf" data-percent="30%"><span class="label light"></span></div>
                </div>
              </div>
              <div class="block-padded-bottom">
                <p>After effects</p>
                <div class="holder border-holder">
                  <div class="bar cf" data-percent="20%"><span class="label"></span></div>
                </div>
              </div>
              <div class="block-padded-bottom">
                <p>Altium</p>
                <div class="holder border-holder">
                  <div class="bar cf" data-percent="22%"><span class="label"></span></div>
                </div>
              </div>
              <div class="block-padded-bottom">
                <p>Mplab X Ide</p>
                <div class="holder border-holder">
                  <div class="bar cf" data-percent="20%"><span class="label light"></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="skills-bar line-div">
          <div class="wrap">
            <h4>Development</h4>
            <div class="purple-border-holder">
              <div class="block-padded-bottom">
                <p>HTML/CSS</p>
                <div class="holder border-holder">
                  <div class="bar cf" data-percent="56%"><span class="label light"></span></div>
                </div>
              </div>
              <div class="block-padded-bottom">
                <p>JS</p>
                <div class="holder border-holder">
                  <div class="bar cf" data-percent="10%"><span class="label"></span></div>
                </div>
              </div>
              <div class="block-padded-bottom">
                <p>Ruby on Rails</p>
                <div class="holder border-holder">
                  <div class="bar cf" data-percent="30%"><span class="label"></span></div>
                </div>
              </div>
              <div class="block-padded-bottom">
                <p>C</p>
                <div class="holder border-holder">
                  <div class="bar cf" data-percent="30%"><span class="label light"></span></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="skills-bar">
          <div class="wrap">
            <h4>Speaking Language</h4>
            <div class="language-skills ">
              <div class="holder blue-border-holder">
                <div class="bar  cf" data-percent="100%"><span class="label light">French</span></div>
              </div>
              <div class="holder blue-border-holder">
                <div class="bar cf" data-percent="92%"><span class="label light">English</span></div>
              </div>
              <div class="holder blue-border-holder">
                <div class="bar cf" data-percent="20%"><span class="label light">German</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--       EDUCATION -->

      <div class="education">
        <h2>Education</h2>
        <div class="line-div"></div>
        <div class="school-box line-div">
          <div class="school-name">
            <h4><strong>42 School</strong>, Paris</h4>
            <div class="date">
              <p><i class="text-left fa fa-calendar"></i> 2015 - to present</p>
            </div>
            <p class="">Computer Programming School.</p>
          </div>
        </div>
        <div class="school-box line-div">
          <div class="school-name">
            <h4><strong>Le Wagon</strong>, Paris</h4>
            <div class="date">
              <p><i class="text-left fa fa-calendar"></i> sept - dec 2015</p>
            </div>
            <p class="">3-months Coding Bootcamp<br>in Ruby on Rails, HTML, CSS and JS.</p>
          </div>
        </div>
        <div class="school-box line-div">
          <div class="school-name">
           <h4><strong>Esag Penninghen</strong>, Paris</h4>
           <div class="date">
             <p><i class="text-left fa fa-calendar"></i> 2004 - 2009</p>
           </div>
           <p>Master degree in Art Direction,<br>Graphic Design & Digital Design.</p>
         </div>
        </div>
        <div class="school-box line-div">
          <div class="school-name">
           <h4><strong>Art Students League<br>of New York</strong>, NYC</h4>
           <div class="date">
             <p><i class="text-left fa fa-calendar"></i> july - august 2007</p>
           </div>
           <p>Drawing classes.</p>
          </div>
        </div>
        <div class="school-box line-div">
          <div class="school-name">
            <h4><strong>La Sorbonne-Nouvelle</strong>, Paris</h4>
            <div class="date">
              <p><i class="text-left fa fa-calendar"></i> 2002 - 2004</p>
            </div>
            <p>Bachelor's degree, Archeology and History of Art.</p>
          </div>
        </div>
        <div class="school-box line-div">
          <div class="school-name">
            <h4><strong>Conservatory of Music,<br>Hector Berlioz</strong>, Paris</h4>
            <div class="date">
              <p><i class="text-left fa fa-calendar"></i> 1995 - 2007</p>
            </div>
            <p>DFEM Degree of end of musical studies in Violon.</p>
          </div>
        </div>
        <div class="school-box">
          <div class="school-name">
            <h4>Well, yes it seems that I love to learn new stuff. ;) </h4>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>















  <!-- mycharts -->

<!-- <div class="mycharts-show-skills">
  <ul class="skills-chart">
    <li class="skills-chart-legend skills-chart-legend--interest">Level of Interest</li>
    <li class="skills-chart-legend skills-chart-legend--skill">Current Skill</li>
  </ul>

  <canvas id="myChart" width="700" height="500"></canvas>

</div>


<div class="skills-bar">
 <div class="wrap">
   <h2>Skills</h2>
   <div class="">
     <div class="holder">
       <div class="bar cf" data-percent="100%"><span class="label">French</span></div>
     </div>
     <div class="holder">
       <div class="bar cf" data-percent="94%"><span class="label light">English</span></div>
     </div>
     <div class="holder">
       <div class="bar cf" data-percent="40%"><span class="label">German</span></div>
     </div>
   </div>
 </div>
</div>

-->


<!-- <div class="flagskills"></div>
-->






