<div class="content main-container">
  <div class="banner-centered window-full-sized text-white">
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="page-inner paragraph text-center">
            <h1>Contact me.</h1>
            <!-- <h2>Designing products for users.</h2> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
