<div class="content main-container">
  <div class="banner-centered window-full-sized text-white">
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="page-inner paragraph text-center">
            <div class="padded-down">
              <h1>Contact me.</h1>
            </div>
            <!-- <h2>Designing products for users.</h2> -->

            <div class="col-xs-12">
              <%= partial "form" %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
