<div class="content main-container">
  <div class="banner-centered window-full-sized text-white">
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="page-inner paragraph text-center">
            <h1>Design is about problem solving.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container padded">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12 text-center">
        <h1>I believe design should be at the begining of building product process.</h1>
        <h3>Make with intent.</h3>
      </div>
      <div class="col-xs-12 text-center">
        <h2>My design process</h2>
        <p class="text-left">
          At the start of a project, I like to make sketches to help me understand the product we are trying to create. Who is the user? What is the product or service? It helps to build products that go live in the market and solve real problems for real customers.
          I help shape, lead and deliver your product development, design, content and social media strategies.
        </p>
        <div class="col-xs-6 text-left">
          <h2>1 - Product vision</h2>
          <p>Before the project starts, I talk with you to learn about your vision for your project. After reading your project description I ask additional questions to see if we are a good fit. A good description will speed up the process and help us design the project according to your vision.
          </p>
        </div>
        <div class="col-xs-6 text-left">
          <h2>2 - Project scope</h2>
          <p>A project’s scope is a document that details everything you and your team have agreed will be included in your project. It includes a description of the project, a list of features, content and inspirations. It also includes details like screen sizes you want to support.
          </p>
        </div>
      </div>
      <div class="col-xs-12 text-center">
        <div class="col-xs-6 text-left">
          <h2>3 - Estimate</h2>
          <p>I prepare an estimation based on the information you send me. Some changes to time or budget estimations are impossible to predict, such as scope changes, iterations or user feedback. The estimation should give you an overview of what the project will cost and how long it will take.
          </p>
        </div>
        <div class="col-xs-6 text-left">
          <h2>4 - Kick-off</h2>
          <p>I recommend a kick-off call before design starts to make sure we are on the same page. To ensure good communication, depending on the size of the project we set up a project in Basecamp, where you track progress, and send feedback on the proposed designs.</p>
        </div>
      </div>
      <div class="col-xs-12 text-center">
        <div class="col-xs-6 text-left">
          <h2>5 - Sketches</h2>
          <p>At the start of a project, sketches are a good way to help understand the product we are trying to create. If you already started the process of creating wireframes for your app, I can work with your sketches and suggest refinements. I am also more than happy to start from scratch and prepare the wireframes for you.
          </p>
        </div>
        <div class="col-xs-6 text-left">
          <h2>6 - Delivering</h2>
          <p>Once the wireframes are ready, we continue the process with delivering high-fidelity design. At the end of the project, all files will belong to you.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>



