---
title: Anna Mimouni, Creative Designer
---
<div class="content main-container">

  <div class="banner window-full-sized text-white">
    <div class="banner-gradient" >
      <div class="banner-content">
        <div class="welcome blink padded">
        <p>Hi, I am Anna Mimouni,</p>
        <p>a creative designer.</p>
        <p>How can I help you? <span>|</span></p>
         </div>
       </div>
     </div>
   </div>
   <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="page-inner text-title">
          <div class="icon-container">
            <div class="icon-down-banner pulse">
              <% link_to "#products" do %>
                <img src="images/arrow_down_white-01-01.svg" href="#define" alt="arrow-down" class="banner-content-button"/>
              <% end %>

            </div>
          </div>
          <div class="text-center" id="products">
            <h1>I help clients define, <br>design <br>and build products.</h1>
           <!--  <h3>I focus on building great product with a modern approach.</h3>
            <h2>Embracing constant innovation.</h2> -->
          </div>
          <div class="main-circle">
            <div class="col-xs-12">
              <div class="wow bounce" data-wow-iteration="infinite" data-wow-duration="800ms">
                <%= image_tag "thinkmake.jpg" %>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h1>I turn ideas from dreams into reality.</h1>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="page-inner home-services">
    <div class="container content">
      <div class="icon">
        <img src="images/strategy.svg"  alt="strategy" />
        <div class="text">
          <h2>Strategy and Consulting</h2>
          <p>Creative strategy
            <br>Brand positionning
            <br>Art direction
            <br>Visual identity
            <br>Advertising
          </p>
        </div>
      </div>

      <div class="icon">
        <img src="images/uxdesigner.svg"  alt="uxdesigner" />
        <div class="text">
          <h2>UX and UI Design</h2>
          <p>Architecture
            <br>Wireframe
            <br>Mockup
            <br>Interaction design
            <br>Prototype
          </p>
        </div>
      </div>
      <div class="icon">
        <img src="images/productmanager.svg"  alt="manager" />
        <div class="text">
          <h2>Project Management</h2>
          <p>Product design
            <br>Business objectives
            <br>Technology
            <br>Collaborate
            <br>Presentation
          </p>
        </div>
      </div>
      <div class="icon">
        <div class="text not-padded arrow-lets">
          <h2>Start a business,<br>build a product?</h2>
          <%= mail_to 'contact@annamimouni.com', "Lets chat about this", subject: "Hello" %>
          <span class="pulse-arrow"><%= image_tag "long_arrow-01.svg" %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="page-inner text-title">
          <div class="text-landing services text-grey">
            <div class="col-xs-12">
              <h2 class="text-center">Tailored to your goals.</h2>
              <p>
                I love to work with startups because they are as passionate as I am about their products. I want to help and make your startup dream a reality. I live to create something of value and see it exist in the real world. I love to work across disciplines and make an entire team successful. I believe in process, and value pragmatism over theory. I understand qualitative and quantitative inputs merge with product intuition to create something awesome. Most importantly, I ship.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>












