---
title: Anna Mimouni, Creative Designer
---
<div class="content">
  <div class="banner">
    <%= partial "navbar" %>
    <div class="banner-content">
      <div class="welcome padded">
        <h1><strong>Hi, I am Anna Mimouni,</strong></h1>
        <h2>a creative designer.</h2>
        <h2>   How can I help you ?</h2>
        <h3>Art director & UX / UI designer,</h3>
        <h3>I turn ideas from dream to reality.</h3>
      </div>
    </div>
  </div>
</div>
