---
title: Anna Mimouni, Creative Designer
---
<div class="content main-container">

  <div class="banner window-full-sized text-white">
    <div class="banner-gradient">
      <div class="banner-content">
        <div class="welcome padded">
          <h1><strong>Hi, I am Anna Mimouni,</strong></h1>
          <h2>a creative designer.</h2>
          <h2>   How can I help you ?</h2>
          <h3>Art director & UX / UI designer,</h3>
          <h3>I turn ideas from dream to reality.</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="page-inner">

        <div class="icon-container">
          <div class="icon-down-banner pulse">
            <img src="/images/idea.svg"  alt="icon-idea" />
          </div>
        </div>

        <div class="text-title text-center">
          <h1>I help clients define, <br>design <br>and build products.</h1>
          <h3>I focus on building great product with a modern approach.</h3>
          <h2>Embracing constant innovation.</h2>
        </div>

        <div class="main-circle">
            <div class="circle">
              <h3>Think</h3>
            </div>
            <div class="circle">
              <h3>Design</h3>
            </div>
            <div class="circle">
              <h3>Iterate</h3>
            </div>
        </div>

        <div class="text-title text-center">
          <h1>Let's turn idea from dream to reality.</h1>
        </div>

        <div class="text-landing text-grey">
          <p>
            I love to work with startups because they are as passionate as I am about their products.
            Whether you need a brand new app, a full website redesign or just some sprucing up
            of current products, I want to help and make your startup dream a reality.

            I live to create something of value and see it exist in the real world.
            I love to work across disciplines and make an entire team successful.
            I believe in process, and value pragmatism over theory. I understand qualitative and quantitative inputs
            merge with product intuition to create something awesome. Most importantly, I ship.

            At the start of a project, I like to make sketches to help me understand the product we are trying to create.
            Who is the user? What is the product or service? It helps to build products that go live in the market
            and solve real problems for real customers.
          </p>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>








