---
title: Anna Mimouni, Creative Designer
---
<div class="content main-container">

  <div class="banner window-full-sized text-white">
    <div class="banner-gradient" >
      <div class="banner-content">
        <div class="welcome blink padded col-sm-5 col-sm-offset-5">
         <!--  <h1><strong>Hi, I am Anna Mimouni,</strong></h1>
          <h2>a creative designer.</h2>
          <h2>   How can I help you ?</h2>
          <h3>Designing products for users,</h3>
          <h3>Project manager and UX / UI designer,</h3>
          <h3>I turn ideas from dream to reality.</h3>
          <span>|</span></p>

 -->
            <p><strong>Hi, I am Anna Mimouni,</strong></p>
            <p>a creative designer.</p>
            <p>How can I help you? <span>|</span></p>
           <!--  <p>Product Manager and UX / UI designer,</p>
            <p>I turn idea from dream to reality.</p> -->
        </div>
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="page-inner text-title">
          <div class="icon-container">
            <div class="icon-down-banner pulse">
              <img src="/images/arrow_down_white-01-01.svg"  alt="arrow-down" />
            </div>
          </div>
          <div class="text-center">
            <h1>I help clients define, <br>design <br>and build products.</h1>
            <h3>I focus on building great product with a modern approach.</h3>
            <h2>Embracing constant innovation.</h2>
          </div>
          <div class="main-circle">
            <div class="col-xs-12">
              <%= image_tag "thinkmake.jpg" %>
            </div>
         <!--    <div class="circle-container circle-left">
              <div class="circle">
                <h3>Think</h3>
              </div>
            </div>
            <div class="arrow">
              <img src="/images/long_arrow-01.svg"  alt="icon-idea" />
            </div>
            <div class="circle-container">
              <div class="circle">
              <h3>Design</h3>
            </div>
            </div>
            <div class="arrow">
              <img src="/images/long_arrow-01.svg"  alt="icon-idea" />
            </div>
            <div class="circle-container circle-right">
              <div class="circle">
              <h3>Iterate</h3>
              </div>
            </div> -->
          </div>
          <div class="text-center">
            <h1>I turn idea from dream to reality.</h1>
          </div>
          <div class="text-landing services text-grey">
            <div class="col-xs-12">
              <p>
                I love to work with startups because they are as passionate as I am about their products.
                I want to help and make your startup dream a reality.
                <br>
                I live to create something of value and see it exist in the real world.
                I love to work across disciplines and make an entire team successful.
                I believe in process, and value pragmatism over theory. I understand qualitative and quantitative inputs
                merge with product intuition to create something awesome. Most importantly, I ship.
              </p>
              <div class="col-xs-6">
                <h2>Strategy and consulting</h2>
                <p>
                  Creative strategy
                  <br>Brand positionning
                  <br>Art direction
                  <br>Visual identity
                  <br>Advertising
                </p>
                <div class="arrow-link arrow pulse">
                  <img src="/images/long_arrow-01.svg"  alt="icon-arrow-link" />
                </div>
              </div>
              <div class="col-xs-6">
                <img src="/images/idea.svg"  alt="icon-idea" />
              </div>
            </div>
            <div class="col-xs-12">
              <div class="col-xs-6">
                <img src="/images/idea.svg"  alt="icon-idea" height="200" width="200" />
              </div>
              <div class="col-xs-6">
                <h2>UX and UI design</h2>
                <p>
                  Architecture
                  <br>Wireframe
                  <br>Mockup
                  <br>Interaction design
                  <br>Prototype
                </p>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="col-xs-6">
                <h2>Product Management</h2>
                <p>
                  Manage your projects
                  <br>Product design
                  <br>Present & Collaborate
                  <br>Work with business objectives
                  <br>Deal with product budgeting
                </p>
              </div>
              <div class="col-xs-6">
                <img src="/images/idea.svg"  alt="icon-idea" height="200" width="200" />
              </div>
            </div>
              <p>
                <br>
                <br>
                <br>
                At the start of a project, I like to make sketches to help me understand the product we are trying to create.
                Who is the user? What is the product or service? It helps to build products that go live in the market
                and solve real problems for real customers.
                I help shape, lead and deliver your product development, design, content and
                social media strategies.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= partial "contact" %>











