<div class="content main-container">
  <div class="banner-centered text-white">
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="page-inner paragraph text-center">
            <h1>Case studies.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= partial "card" %>
    </div>
    <div class="col-xs-12 col-sm-4">
     <%= partial "card" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= partial "card" %>
    </div>
  </div>
</div> -->

<div class="gallery">
  <div class="btn-filter button-group filter-button-group">
      <button class="btn-link" data-filter="*"><p></p>ALL</button>
      <button class="btn-link" data-filter=".cat-1">UX &amp UI</button>
      <button class="btn-link" data-filter=".cat-2">CREATIVE DIRECTION</button>

  </div>
  <div class="cards-project-container ">
    <div class="cards-projects grid">
      <div class="grid-sizer"></div>
      <% data.projects.each do |member, infos| %>
      <%= partial(:card_project, :locals => { :titre => member, :idx => infos.idx, :card => infos.card, :modal => infos.modal }) %>
      <% end %>
    </div>
  </div>
</div>


