<div class="content main-container">
  <div class="banner-centered text-white">
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="page-inner paragraph text-center">
            <h1>Case studies.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= partial "card" %>
    </div>
    <div class="col-xs-12 col-sm-4">
     <%= partial "card" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= partial "card" %>
    </div>
  </div>
</div> -->

<div class="gallery">
  <div class="btn-filter">
    <button class="filter btn-filter " data-filter=".category-1">Category 1</button>
    <button class="filter btn-filter " data-filter=".category-2">Category 2</button>

    <button class="sort btn-filter " data-sort="my-order:asc">Ascending Order</button>
    <button class="sort btn-filter " data-sort="my-order:desc">Descending Order</button>
  </div>
  <div class="cards-project-container">
    <div class="cards-projects" id="Container">
      <div class="mix category-1" data-my-order="1">
        <div class="ui-box">
          <div class="img-container">
            <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/2-mon_1092-300x234.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="mix category-1" data-my-order="2">
        <div class="ui-box">
          <div class="img-container">
            <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/emi_haze-300x201.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="mix category-2" data-my-order="3">
        <div class="ui-box">
          <div class="img-container">
            <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/jti-icons_08-300x172.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="mix category-2" data-my-order="4">
        <div class="ui-box">
          <div class="img-container">
            <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/emi_haze-300x201.jpg" alt="" />
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


