<div class="content main-container">
  <div class="banner-centered text-white">
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="page-inner paragraph text-center">
            <h1>Case studies.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= partial "card" %>
    </div>
    <div class="col-xs-12 col-sm-4">
     <%= partial "card" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= partial "card" %>
    </div>
  </div>
</div>

<button class="filter" data-filter=".category-1">Category 1</button>
<button class="filter" data-filter=".category-2">Category 2</button>

<button class="sort" data-sort="my-order:asc">Ascending Order</button>
<button class="sort" data-sort="my-order:desc">Descending Order</button>

<div id="Container">
  <div class="mix category-1" data-my-order="1"> <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/2-mon_1092-300x234.jpg" alt="" /> </div>
  <div class="mix category-1" data-my-order="2"> <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/emi_haze-300x201.jpg" alt="" /> </div>
  <div class="mix category-2" data-my-order="3"> <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/jti-icons_08-300x172.jpg" alt="" /> </div>
  <div class="mix category-2" data-my-order="4"> <img src="http://demo.themerain.com/charm/wp-content/uploads/2015/04/emi_haze-300x201.jpg" alt="" /> </div>
</div>


