<div class="content main-container">
  <div class="banner-centered text-white">
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="page-inner paragraph text-center">
            <h1>Case studies.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= partial "card" %>
    </div>
    <div class="col-xs-12 col-sm-4">
     <%= partial "card" %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= partial "card" %>
    </div>
  </div>
</div>
