

<div class="content main-container">
  <div class="banner window-full-sized text-white">
  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="page-inner paragraph">
          <div class="text-center">
            <h1>Designing Products for Users.</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


