<div class="content main-container">
  <div class="banner-centered window-full-sized text-white">
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="page-inner paragraph text-center">
            <h1>Building great products,
              <br>for users.</h1>
            <!-- <h2>Designing products for users.</h2> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-inner services">
  <div class="container content">
        <div class="text">
           <h2>Strategy and Consulting</h2>
          <p>Creative strategy
            <br>Brand positionning
            <br>Art direction
            <br>Visual identity
            <br>Advertising
          </p>
          <% link_to "/", class: "arrow-lets" do %>
            Lets chat about this   <span><%= image_tag "long_arrow-01.svg", class: "" %></span>
          <% end %>
        </div>
        <div class="icon">
          <img src="/images/strategy.svg"  alt="strategy" />
        </div>
      <div class="icon">
        <img src="/images/uxdesigner.svg"  alt="uxdesigner" />
      </div>
      <div class="text">
        <h2>UX and UI Design</h2>
        <p>Architecture
          <br>Wireframe
          <br>Mockup
          <br>Interaction design
          <br>Prototype
        </p>
      </div>
      <div class="text">
        <h2>Project Management</h2>
        <p>Product design
          <br>Business objectives
          <br>Technology
          <br>Collaborate
          <br>Presentation
        </p>
      </div>
      <div class="icon">
        <img src="/images/productmanager.svg"  alt="manager" />
      </div>
  </div>
</div>
